@echo off
set "PATH={{ path_env }}"
set "HOME={{ home_dir }}"
{% if gobby_home %}
set "GOBBY_HOME={{ gobby_home }}"
{% endif %}
"{{ python_executable }}" -m gobby.runner{% if verbose %} --verbose{% endif %}

